Importing required libraries

In [0]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
from pprint import pprint
plt.style.use('fivethirtyeight')
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

Data set preview

In [0]:
cols = ['sentiment','id','date','query_string','user','text']
# df = pd.read_csv("/content/drive/My Drive/Project Viral News/ML Research/Datasets/Sentiment140/data.csv", encoding='latin-1', header=None, names=cols)
df = pd.read_csv("/content/drive/My Drive/Sentiment140/training.1600000.processed.noemoticon.csv", encoding='latin-1', header=None, names=cols)

In [3]:
df.head()

   sentiment  ...                                               text
0          0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  ...  is upset that he can't update his Facebook by ...
2          0  ...  @Kenichan I dived many times for the ball. Man...
3          0  ...    my whole body feels itchy and like its on fire
4          0  ...  @nationwideclass no, it's not behaving at all....

[5 rows x 6 columns]

In [4]:
df.sentiment.value_counts()

4    800000
0    800000
Name: sentiment, dtype: int64

In [0]:
df.drop(['id','date','query_string','user'],axis=1,inplace=True)

In [6]:
df[df.sentiment == 0].head(10)

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....
5          0                      @Kwesidei not the whole crew
6          0                                        Need a hug
7          0  @LOLTrish hey  long time no see! Yes.. Rains a...
8          0               @Tatiana_K nope they didn't have it
9          0                          @twittera que me muera ?

In [7]:
df[df.sentiment == 4].head(10)

        sentiment                                               text
800000          4       I LOVE @Health4UandPets u guys r the best!!
800001          4  im meeting up with one of my besties tonight! ...
800002          4  @DaRealSunisaKim Thanks for the Twitter add, S...
800003          4  Being sick can be really cheap when it hurts t...
800004          4    @LovesBrooklyn2 he has that effect on everyone
800005          4  @ProductOfFear You can tell him that I just bu...
800006          4  @r_keith_hill Thans for your response. Ihad al...
800007          4  @KeepinUpWKris I am so jealous, hope you had a...
800008          4  @tommcfly ah, congrats mr fletcher for finally...
800009          4  @e4VoIP I RESPONDED  Stupid cat is helping me ...

In [0]:
pat1 = r'@[A-Za-z0-9_]+'
pat2 = r'https?://[^ ]+'
combined_pat = r'|'.join((pat1, pat2))
www_pat = r'www.[^ ]+'
negations_dic = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                "mustn't":"must not"}
neg_pattern = re.compile(r'\b(' + '|'.join(negations_dic.keys()) + r')\b')

def tweet_cleaner(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    try:
        bom_removed = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        bom_removed = souped
    stripped = re.sub(combined_pat, '', bom_removed)
    stripped = re.sub(www_pat, '', stripped)
    lower_case = stripped.lower()
    neg_handled = neg_pattern.sub(lambda x: negations_dic[x.group()], lower_case)
    letters_only = re.sub("[^a-zA-Z]", " ", neg_handled)
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = [x for x  in tok.tokenize(letters_only) if len(x) > 1]
    return (" ".join(words)).strip()

In [9]:
nums = [0,400000,800000,1200000,1600000]
print("Cleaning and parsing the tweets...\n")
clean_tweet_texts = []
for i in range(nums[0],nums[4]):
    if( (i+1)%10000 == 0 ):
        print("Tweets %d of %d has been processed" % ( i+1, nums[4] ))                                                                   
    clean_tweet_texts.append(tweet_cleaner(df['text'][i]))

Cleaning and parsing the tweets...

Tweets 10000 of 1600000 has been processed
Tweets 20000 of 1600000 has been processed
Tweets 30000 of 1600000 has been processed
Tweets 40000 of 1600000 has been processed
Tweets 50000 of 1600000 has been processed
Tweets 60000 of 1600000 has been processed
Tweets 70000 of 1600000 has been processed
Tweets 80000 of 1600000 has been processed
Tweets 90000 of 1600000 has been processed
Tweets 100000 of 1600000 has been processed
Tweets 110000 of 1600000 has been processed
Tweets 120000 of 1600000 has been processed
Tweets 130000 of 1600000 has been processed
Tweets 140000 of 1600000 has been processed
Tweets 150000 of 1600000 has been processed
Tweets 160000 of 1600000 has been processed
Tweets 170000 of 1600000 has been processed
Tweets 180000 of 1600000 has been processed
Tweets 190000 of 1600000 has been processed
Tweets 200000 of 1600000 has been processed
Tweets 210000 of 1600000 has been processed
Tweets 220000 of 1600000 has been processed
Tweets 230000 of 1600000 has been processed
Tweets 240000 of 1600000 has been processed
Tweets 250000 of 1600000 has been processed
Tweets 260000 of 1600000 has been processed
Tweets 270000 of 1600000 has been processed
Tweets 280000 of 1600000 has been processed
Tweets 290000 of 1600000 has been processed
Tweets 300000 of 1600000 has been processed
Tweets 310000 of 1600000 has been processed
Tweets 320000 of 1600000 has been processed
Tweets 330000 of 1600000 has been processed
Tweets 340000 of 1600000 has been processed
Tweets 350000 of 1600000 has been processed
Tweets 360000 of 1600000 has been processed
Tweets 370000 of 1600000 has been processed
Tweets 380000 of 1600000 has been processed
Tweets 390000 of 1600000 has been processed
Tweets 400000 of 1600000 has been processed
Tweets 410000 of 1600000 has been processed
Tweets 420000 of 1600000 has been processed
Tweets 430000 of 1600000 has been processed
Tweets 440000 of 1600000 has been processed
Tweets 450000 of 1600000 has been processed
Tweets 460000 of 1600000 has been processed
Tweets 470000 of 1600000 has been processed
Tweets 480000 of 1600000 has been processed
Tweets 490000 of 1600000 has been processed
Tweets 500000 of 1600000 has been processed
Tweets 510000 of 1600000 has been processed
Tweets 520000 of 1600000 has been processed
Tweets 530000 of 1600000 has been processed
Tweets 540000 of 1600000 has been processed
Tweets 550000 of 1600000 has been processed
Tweets 560000 of 1600000 has been processed
Tweets 570000 of 1600000 has been processed
Tweets 580000 of 1600000 has been processed
Tweets 590000 of 1600000 has been processed
Tweets 600000 of 1600000 has been processed
Tweets 610000 of 1600000 has been processed
Tweets 620000 of 1600000 has been processed
Tweets 630000 of 1600000 has been processed
Tweets 640000 of 1600000 has been processed
Tweets 650000 of 1600000 has been processed
Tweets 660000 of 1600000 has been processed
Tweets 670000 of 1600000 has been processed
Tweets 680000 of 1600000 has been processed
Tweets 690000 of 1600000 has been processed
Tweets 700000 of 1600000 has been processed
Tweets 710000 of 1600000 has been processed
Tweets 720000 of 1600000 has been processed
Tweets 730000 of 1600000 has been processed
Tweets 740000 of 1600000 has been processed
Tweets 750000 of 1600000 has been processed
Tweets 760000 of 1600000 has been processed
Tweets 770000 of 1600000 has been processed
Tweets 780000 of 1600000 has been processed
Tweets 790000 of 1600000 has been processed
Tweets 800000 of 1600000 has been processed
Tweets 810000 of 1600000 has been processed
Tweets 820000 of 1600000 has been processed
Tweets 830000 of 1600000 has been processed
Tweets 840000 of 1600000 has been processed
Tweets 850000 of 1600000 has been processed
Tweets 860000 of 1600000 has been processed
Tweets 870000 of 1600000 has been processed
Tweets 880000 of 1600000 has been processed
Tweets 890000 of 1600000 has been processed
Tweets 900000 of 1600000 has been processed
Tweets 910000 of 1600000 has been processed
Tweets 920000 of 1600000 has been processed
Tweets 930000 of 1600000 has been processed
Tweets 940000 of 1600000 has been processed
Tweets 950000 of 1600000 has been processed
Tweets 960000 of 1600000 has been processed
Tweets 970000 of 1600000 has been processed
Tweets 980000 of 1600000 has been processed
Tweets 990000 of 1600000 has been processed
Tweets 1000000 of 1600000 has been processed
Tweets 1010000 of 1600000 has been processed
Tweets 1020000 of 1600000 has been processed
Tweets 1030000 of 1600000 has been processed
Tweets 1040000 of 1600000 has been processed
Tweets 1050000 of 1600000 has been processed
Tweets 1060000 of 1600000 has been processed
Tweets 1070000 of 1600000 has been processed
Tweets 1080000 of 1600000 has been processed
Tweets 1090000 of 1600000 has been processed
Tweets 1100000 of 1600000 has been processed
Tweets 1110000 of 1600000 has been processed
Tweets 1120000 of 1600000 has been processed
Tweets 1130000 of 1600000 has been processed
Tweets 1140000 of 1600000 has been processed
Tweets 1150000 of 1600000 has been processed
Tweets 1160000 of 1600000 has been processed
Tweets 1170000 of 1600000 has been processed
Tweets 1180000 of 1600000 has been processed
Tweets 1190000 of 1600000 has been processed
Tweets 1200000 of 1600000 has been processed
Tweets 1210000 of 1600000 has been processed
Tweets 1220000 of 1600000 has been processed
Tweets 1230000 of 1600000 has been processed
Tweets 1240000 of 1600000 has been processed
Tweets 1250000 of 1600000 has been processed
Tweets 1260000 of 1600000 has been processed
Tweets 1270000 of 1600000 has been processed
Tweets 1280000 of 1600000 has been processed
Tweets 1290000 of 1600000 has been processed
Tweets 1300000 of 1600000 has been processed
Tweets 1310000 of 1600000 has been processed
Tweets 1320000 of 1600000 has been processed
Tweets 1330000 of 1600000 has been processed
Tweets 1340000 of 1600000 has been processed
Tweets 1350000 of 1600000 has been processed
Tweets 1360000 of 1600000 has been processed
Tweets 1370000 of 1600000 has been processed
Tweets 1380000 of 1600000 has been processed
Tweets 1390000 of 1600000 has been processed
Tweets 1400000 of 1600000 has been processed
Tweets 1410000 of 1600000 has been processed
Tweets 1420000 of 1600000 has been processed
Tweets 1430000 of 1600000 has been processed
Tweets 1440000 of 1600000 has been processed
Tweets 1450000 of 1600000 has been processed
Tweets 1460000 of 1600000 has been processed
Tweets 1470000 of 1600000 has been processed
Tweets 1480000 of 1600000 has been processed
Tweets 1490000 of 1600000 has been processed
Tweets 1500000 of 1600000 has been processed
Tweets 1510000 of 1600000 has been processed
Tweets 1520000 of 1600000 has been processed
Tweets 1530000 of 1600000 has been processed
Tweets 1540000 of 1600000 has been processed
Tweets 1550000 of 1600000 has been processed
Tweets 1560000 of 1600000 has been processed
Tweets 1570000 of 1600000 has been processed
Tweets 1580000 of 1600000 has been processed
Tweets 1590000 of 1600000 has been processed
Tweets 1600000 of 1600000 has been processed

In [10]:
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df['target'] = df.sentiment
clean_df.head()

                                                text  target
0  awww that bummer you shoulda got david carr of...       0
1  is upset that he can not update his facebook b...       0
2  dived many times for the ball managed to save ...       0
3     my whole body feels itchy and like its on fire       0
4  no it not behaving at all mad why am here beca...       0

In [0]:
clean_df.to_csv('clean_tweet.csv',encoding='utf-8')

In [13]:
csv = '/content/clean_tweet.csv'
my_df = pd.read_csv(csv,index_col=0)
my_df.head()

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                                                text  target
0  awww that bummer you shoulda got david carr of...       0
1  is upset that he can not update his facebook b...       0
2  dived many times for the ball managed to save ...       0
3     my whole body feels itchy and like its on fire       0
4  no it not behaving at all mad why am here beca...       0

In [14]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1600000 entries, 0 to 1599999
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   text    1596041 non-null  object
 1   target  1600000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 36.6+ MB

In [15]:
my_df[my_df.isnull().any(axis=1)].head()

    text  target
208  NaN       0
249  NaN       0
282  NaN       0
398  NaN       0
430  NaN       0

In [16]:
np.sum(my_df.isnull().any(axis=1))

3959

In [17]:
my_df.isnull().any(axis=0)

text       True
target    False
dtype: bool

In [20]:
df = pd.read_csv("/content/drive/My Drive/Sentiment140/training.1600000.processed.noemoticon.csv",encoding='latin-1', header=None, names=cols)
df.iloc[my_df[my_df.isnull().any(axis=1)].index,:].head()

     sentiment          id  ...          user                   text
208          0  1467863072  ...      Artiel87             @mandayyy
249          0  1467874569  ...      Artiel87           @mandayyy
282          0  1467881474  ...     __Susan__  @ITS_NEMESIS -------
398          0  1467912842  ...  KimberlyKane         @danadearmond
430          0  1467919452  ...     jtmal0723             @anistorm

[5 rows x 6 columns]

In [21]:
my_df.dropna(inplace=True)
my_df.reset_index(drop=True,inplace=True)
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596041 entries, 0 to 1596040
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   text    1596041 non-null  object
 1   target  1596041 non-null  int64
dtypes: int64(1), object(1)
memory usage: 24.4+ MB

In [22]:
my_df.head()

                                                text  target
0  awww that bummer you shoulda got david carr of...       0
1  is upset that he can not update his facebook b...       0
2  dived many times for the ball managed to save ...       0
3     my whole body feels itchy and like its on fire       0
4  no it not behaving at all mad why am here beca...       0

In [0]:
my_df.to_csv('ready_data.csv',encoding='utf-8')

In [25]:
csv = '/content/ready_data.csv'
final_my_df = pd.read_csv(csv,index_col=0)
final_my_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1596041 entries, 0 to 1596040
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   text    1596041 non-null  object
 1   target  1596041 non-null  int64
dtypes: int64(1), object(1)
memory usage: 36.5+ MB

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)