In [1]:
import pandas as pd
from twarc import Twarc
import datetime

In [2]:

columns = ["screen_name", "tweet_id","created_at","embeded_url","expanded_url","author","title",
           "content", "day_0_time","day_0_retweet_count"]
columns

['screen_name',
 'tweet_id',
 'created_at',
 'embeded_url',
 'expanded_url',
 'author',
 'title',
 'content',
 'day_0_time',
 'day_0_retweet_count']

## Should we add favorite_count as well?

In [3]:
df = pd.DataFrame(columns=columns)

def export_dataset(df):
    name = "../data/dataset_{}.csv".format(datetime.datetime.now().strftime("%B_%d_%y_%H_%M_%S"))
    df.to_csv(name)

# export_dataset(df)
df.head()

Empty DataFrame
Columns: [screen_name, tweet_id, created_at, embeded_url, expanded_url, author, title, content, day_0_time, day_0_retweet_count]
Index: []

In [4]:
consumer_key='58wlGpzEOwum6nghvA8tj6nz6'
consumer_secret='b04KqyzRyquIiYGwqv9B12hRqjEj9tvOp53DtoFZJtetaZ7cZE'
access_token='1243275961824612358-65qxIlXTEhjw0jlbBaK4I0olH9nRP9'
access_token_secret='wYdkYaNCakb7sX5PnHjF1u0oJc7Y73iijqbJ4VeB4yyEd'
 
t = Twarc(consumer_key, consumer_secret, access_token, access_token_secret)

a tweet is a valid tweet if
1. it has user\[id\} belonging to the list of listed ids and has embeded url
2. **if has a retweet that satisfies criteria 1 and the source tweet is published today**

In [5]:
# tweets = set()
actually_added = 0
parsed = 0
max_limit = 20
follow_list = [807095]
follow_str = ",".join([str(x) for x in follow_list])

Following users  807095

In [6]:
print("Following users ",follow_str)
for tweet in t.filter(follow=follow_str):
    parsed += 1
    if parsed%100 == 0:
        print("Parsed :",parsed,"\n Added : ",actually_added)
    # tweet for a user we are following
    if 'retweeted_status' not in tweet \
        and tweet['user']['id'] in follow_list \
        and tweet['entities']['urls'] != [] \
        and (df['tweet_id'] != tweet['id']).all():
        print("From source", tweet['id'])
        actually_added += 1
        current = datetime.datetime.now(datetime.timezone.utc)
        df = df.append({'screen_name':tweet['user']['screen_name'], 
              'tweet_id':tweet['id'],
              'created_at' : tweet['created_at'],
              'embeded_url' : tweet['entities']['urls'][0]['url'],
              'day_0_retweet_count': tweet['retweet_count'],
              'day_0_time': current}, ignore_index=True)

    if 'retweeted_status' in tweet \
        and tweet['retweeted_status']['user']['id'] in follow_list \
        and 'extended_tweet' in tweet['retweeted_status'] \
        and 'entities' in tweet["retweeted_status"]["extended_tweet"] \
        and (df['tweet_id'] != tweet['retweeted_status']['id']).all():
        
        created_time = datetime.datetime.strptime(tweet["retweeted_status"]["created_at"],"%a %b %d %H:%M:%S %z %Y")
        current = datetime.datetime.now(datetime.timezone.utc)
        diff =  current - created_time
        print(diff)
        if diff.days == 0:
            print("From retweet", tweet['id'],"adding tweet : ",tweet["retweeted_status"]["id"])
            df = df.append({'screen_name':tweet["retweeted_status"]["user"]["screen_name"], 
                  'tweet_id':tweet["retweeted_status"]["id"],
                  'created_at' : tweet["retweeted_status"]["created_at"],
                  'embeded_url' : tweet["retweeted_status"]["extended_tweet"]["entities"]["urls"][0]["url"],
                  'day_0_retweet_count': tweet['retweeted_status']['retweet_count'],
                  'day_0_time': current}, ignore_index=True)
            actually_added += 1
#             print(tweet['created_at'])
#             print(tweet['id'])
#             print(tweet['user']['id'])
#             print(tweet["retweeted_status"]["id"])
#             print(tweet["retweeted_status"]["created_at"])
#             print(tweet["retweeted_status"]["user"]["screen_name"])
#             print(tweet["retweeted_status"]["extended_tweet"]["entities"]["urls"][0]["url"])
    if actually_added == max_limit:
        break
print("Parsed :",parsed,"\n Added : ",actually_added)

7:27:52.513388
From retweet 1270151308721491968 adding tweet :  1270038622859919364
7:03:03.280535
From retweet 1270151349607567360 adding tweet :  1270044909886672896
8:50:55.968760
From retweet 1270151356716732416 adding tweet :  1270017767186534400
1:31:07.330655
From retweet 1270151404401942528 adding tweet :  1270128497743343628
18:51:15.423550
From retweet 1270151417353973760 adding tweet :  1269866754802700288
1:11:15.451243
From retweet 1270151421640486912 adding tweet :  1270133513891840002
3:51:38.248909
From retweet 1270151437637443587 adding tweet :  1270093170479677441
2:31:32.287299
From retweet 1270151513294409730 adding tweet :  1270113401952522240
9:02:04.901318
From retweet 1270151666847887360 adding tweet :  1270015271592394754
1 day, 2:13:44.991629
11:53:06.162048
From retweet 1270151894451748866 adding tweet :  1269972462147682304
Parsed : 37
 Added :  10

In [7]:
df.head(max_limit)

,screen_name,tweet_id,created_at,embeded_url,expanded_url,author,title,content,day_0_time,day_0_retweet_count
0,nytimes,1270038622859919364,Mon Jun 08 17:02:58 +0000 2020,https://t.co/ZDJ091U7fj,NaN,NaN,NaN,NaN,2020-06-09 00:30:50.513388+00:00,1059
1,nytimes,1270044909886672896,Mon Jun 08 17:27:57 +0000 2020,https://t.co/2ZlOW9YXDZ,NaN,NaN,NaN,NaN,2020-06-09 00:31:00.280535+00:00,1156
2,nytimes,1270017767186534400,Mon Jun 08 15:40:06 +0000 2020,https://t.co/yO85O14Gn8,NaN,NaN,NaN,NaN,2020-06-09 00:31:01.968760+00:00,914
3,nytimes,1270128497743343628,Mon Jun 08 23:00:06 +0000 2020,https://t.co/iX9bNpATMW,NaN,NaN,NaN,NaN,2020-06-09 00:31:13.330655+00:00,218
4,nytimes,1269866754802700288,Mon Jun 08 05:40:01 +0000 2020,https://t.co/abl9TRxuIN,NaN,NaN,NaN,NaN,2020-06-09 00:31:16.423550+00:00,334
5,nytimes,1270133513891840002,Mon Jun 08 23:20:02 +0000 2020,https://t.co/XCvQDk49kb,NaN,NaN,NaN,NaN,2020-06-09 00:31:17.451243+00:00,320
6,nytimes,1270093170479677441,Mon Jun 08 20:39:43 +0000 2020,https://t.co/p1PBh8KxNG,NaN,NaN,NaN,NaN,2020-06-09 00:31:21.248909+00:00,1093
7,nytimes,1270113401952522240,Mon Jun 08 22:00:07 +0000 2020,https://t.co/Wz9D37Tycq,NaN,NaN,NaN,NaN,2020-06-09 00:31:39.287299+00:00,98
8,nytimes,1270015271592394754,Mon Jun 08 15:30:11 +0000 2020,https://t.co/VKOpH7wUZg,NaN,NaN,NaN,NaN,2020-06-09 00:32:15.901318+00:00,188
9,nytimes,1269972462147682304,Mon Jun 08 12:40:04 +0000 2020,https://t.co/olSEnLvWPa,NaN,NaN,NaN,NaN,2020-06-09 00:33:10.162048+00:00,1586

In [35]:
def get_retweet_count(twarc_api, id):
    for tweet in twarc_api.hydrate([id]):
        return tweet['retweet_count']
print(get_retweet_count(t, 1270044909886672896))

1153

In [38]:
for tweet in t.hydrate([1270148193792204802 ]):
    print(tweet['retweeted_status']['user']['id'] in follow_list)

for tweet in t.hydrate([1270044909886672896 ]):
    print(tweet['user']['id'] in follow_list)
#     print(tweet)
#     print(tweet['user']['screen_name'])
#     print(tweet['id'])
#     print(tweet['created_at'])
#     print(tweet['retweeted_status']['id'])
#     print(tweet['entities']['urls'][0]['url'])
#     print(tweet['retweeted_status'])
#     print(tweet['favorite_count'])
#     print("retweeted_status count", tweet['retweeted_status']['retweet_count'])
#     print(datetime.datetime.now())
#     df = df.append({'screen_name':tweet['user']['screen_name'], 
#               'tweet_id':tweet['id'],
#               'created_at' : tweet['created_at'],
#               'embeded_url' : tweet['entities']['urls'][0]['url'],
#               'day_0_retweet_count': tweet['retweet_count'],
#               'day_0_time':datetime.datetime.now()}, ignore_index=True)
# created_time = datetime.datetime.strptime(tweet['created_at'],"%a %b %d %H:%M:%S %z %Y")
# diff =  datetime.datetime.now(datetime.timezone.utc) - created_time
# abs(diff.days), datetime.datetime.now(datetime.timezone.utc), created_time

True
True

In [ ]:
# export_dataset(df)

In [ ]:
if (df['tweet_id'] == tweet['id']).any():
    print("yes")

In [ ]:
df.head()

In [ ]:
(df['tweet_id'] == tweet['id']).any()